*{
    margin: 0;
    padding: 0;
    border: 0;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla&display=swap');
body{
    background-color: white;
    height: 2500px;
}
a{
    text-decoration: none;
}
header{
    height: 70px;
    position: relative;
}
.insure_titulo{
    width: 100%;
    height: 500px;
    position: relative;
    background: rgba(0, 0, 0, 0.763) url('../imagens/pexels-10921436-LEVE.jpg') center bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.insure_titulo > div{
    height: 100%;
    width: 100%;
    background-color: rgba(53, 53, 55, 0.27);
}
.insure_titulo div > h1{
    width: 200px;
    text-align: center;
    filter:contrast(.9) invert();
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(205, 191, 191, 0.824);
}
.insure_titulo div > h1:hover{
    background-color: rgba(116, 114, 114, 0.824);
}
header nav{
    background-color: white;
    height: 70px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0px 7px 4px #0000004f;
}
header nav  h1{
    display: inline-block;
    margin: 20px 0px 10px 20px;
}
header nav>ul{
    display: inline-block;
    list-style: none;
    text-align: right;
    width: 100%;
    position: absolute;
    right: 0;
    top: 35%;
}
.navegação{
    color: rgba(0, 0, 0, 0.309);
    display: inline-block;
    margin-right: 2%;
    text-decoration: none;
    font-family: 'Karla',sans-serif;
    font-weight: bold;
}
.navegação:hover{
    color: black;
    transition: 0.5s;
}
.nav_int{
    display: none;
    text-align: center;
    background: hsl(258, 25%, 10%) url('../imagens/bg-pattern-mobile-nav.svg') right bottom no-repeat ;
    height: 100%;
}
.nav_int ul{
    margin-top: 5%;
}
main{
    width: 100%;
}
#primeira_parte {
    height: 450px;
      background-color: hsl(208, 23%, 16%);
      width: 100%;
}
#primeira_parte h1{
    display: inline-block;
    margin: 2% 5% 0% 10%;
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: clamp(0.5em,1em + 3vw , 5em);
    width: 32%;
}
#primeira_parte p{
    display: block;
    margin: 1% 5% 3% 10%;
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: clamp(0.4em,1em + 1vw,1em);
    font-weight: lighter;
    width: 29%;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: justify;
}
#primeira_parte picture{
    position: absolute;
    right: 0;
    margin: 0% 0% 5% 0%;
}
#link_plans{
    text-decoration: none;
    margin-left: 10%;
    padding: 10px 30px;
    border: 2px solid rgba(255, 255, 255, 0.761);
    color: rgba(255, 255, 255, 0.789);
    font-family: 'Karla',sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 2px;
}
#link_plans:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}
#somos_diferentes{
    width: 100%;
    height: 500px;
    background:rgba(0, 0, 0, 0) url('../imagens/pexels-jagmeet-singh-1134857.jpg') center center no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
#somos_diferentes>div{
    background-color: hsla(208, 23%, 16%, 0.263);
    width: 100%;
    height: 100%;
}
#somos_diferentes h2{
    text-align: center;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size:clamp(0.5em,1em + 2.5vw, 4em);
    background-color: hsla(0, 0%, 44%, 0.55);
    color: white;
    position: absolute;
}
#segunda_parte > section{
   width: 100%;
}
#segunda_parte section > div{
    margin: 5% auto 0% auto;
    columns: 3;
    width: 90%;
    height: 350px;
}
.ofertas_planos{
    margin-right: 4%;
}
.ofertas_planos h2{
    margin: 8% auto 5% auto;
    font-size: 1.6em;
}
.ofertas_planos p{
    color: hsla(256, 25%, 20%, 0.7);
    text-align: justify;
    letter-spacing: 0.5px;   
    line-height: 20px; 
}
aside{
    width: 100%;
    height: 500px;
    background: black url('../imagens/pexels-rodnae-productions-7821913-LEVE.jpg') center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#mais_sobre{
    background-color: hsla(208, 23%, 16%, 0.605);
    width: 93%;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    position: relative;
}
#mais_sobre h1{
    line-height: 50px;
    width: 70%;
    display: inline-block;
    font-size: clamp(1em,1.3em + 2.5vw , 4em);
    margin: 2% auto auto 6%;}
#mais_sobre a{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    border: 1px solid white;
    font: bold 0.9em 'Karla',sans-serif;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%,-50%);
    margin-right: 4%;
    }
#mais_sobre a:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
    }
footer{
    background-color: hsla(256, 25%, 20%, 0.063);
    height: 400px;
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0) url('../imagens/bg-pattern-footer-desktop.svg') lefttop no-repeat;
    }
footer h1{
    margin-top: 5%;
    font: bold 1.5em 'Karla',sans-serif;
    display: inline-block;
    margin-left: 136px;
    }
footer div{
    display: inline-block;
    left: 80%;
    margin-top: 5%;
    width: 140px;
    position: absolute;
    }
.icones_sociais{
    margin-left: 5%;
    }
.icones_sociais:hover{
    filter: brightness(.4);
    }
footer hr{
    position: absolute;
    border: 1px solid hsla(256, 25%, 20%, 0.111);
    width: 85%;
    margin: 20px 0px 0px 9%;
    }
footer ul{
    columns: 4;
    list-style: none;
    margin-left: 136px;
    margin-top: 3%;
    }
footer ul > h3{
    padding-bottom: 10px;
    width: 150px;
    display: inline-block;
    margin-bottom: 5%;
    color: hsla(256, 25%, 20%, 0.453);
    font:  bold 1em 'Karla',sans-serif;
    }
footer ul > a{
    color: rgba(0, 0, 0, 0.652);
    font:  bold 1em 'Karla',sans-serif;
    letter-spacing: 1px;
    }
footer ul a > li{
    line-height: 30px;
    width: 100%;
    }
footer ul a:hover{
    text-decoration: underline;
    }
    @media screen and (max-width:1000px){
        #primeira_parte{
            height: 410px;
        }
        #primeira_parte h1{
            margin-left: 5%;
        }
        #primeira_parte p {
           margin-left: 5%;
        }
        #mais_sobre{
            text-align: center;
        }
        #mais_sobre h1{
            margin: 2% auto;
            display: block;
            width: 100%;
        }
        #mais_sobre a{
            margin: 6% auto;
            display: block;
            width: 223px;
            position: static;
        }
    }
    @media screen and (max-width:825px){
        #primeira_parte p{
            width: 40%;
        }
        #primeira_parte picture{
            margin: 5% 0% 0% 10%;
        }
        header nav > ul{
            display: none;
        }
        #botão_fechar{
            display: none;
            content: url('../imagens/icon-close.svg');
            width: 30px;
            height: 30px;
            position: absolute;
            right: 5%;
            top: 25px;
            margin-left: 0%;
        }
       #botão_nav{
            display: inline-block;
            content: url('../imagens/icon-hamburger.svg');
            width: 30px;
            height: 30px;
            position: absolute;
            right: 5%;
            top: 25px;
            margin-left: 0%;
       }
       #botão_nav:hover{
        filter: opacity(.7) brightness(.9) ;
       }
       .navegação{
           display: block;
           color: white;
           font-size: clamp(0.5em,1em + 2vh,2em);
           font-weight: lighter;
           margin: 50px auto;
       }
       .navegação:hover{
           color: hsl(256, 65%, 70%);
       }
        #segunda_parte section > div{
            columns: 1;
            height: 850px;
            width: 50%;
            text-align: center;
        }
        .ofertas_planos{
            margin-top: 5%;
        }
        footer{
            text-align: center;
            height: 100%;
        }
        footer h1{
            padding: 100px 0px 20px 0px;
            display: block;
            position: static;
            margin:  5% auto 5% auto;
            text-align: center;
        }
        footer div{
            margin: 0% auto 5% auto;
            display: block;
            position: static;
        }
        footer hr{
            width: 80%;
            margin-bottom: 10%;
        }
        footer ul{
            display: inline;
            margin: auto;
            text-align: center;
        }
        footer ul > h3{
            display:  block;
            margin: 4% auto;
        }
        footer ul a > li{
            width: 100%;
        }
    }
    @media screen and (max-width:650px){
        #primeira_parte{
            text-align: center;
            height: 650px;
        }
        #primeira_parte h1{
            margin: 2% auto;
            width: 100%;
            font-size: 2.5em;
        }
        #primeira_parte p{
            text-align: center;
            width: 100%;
            margin: 5% auto;
        }
        #primeira_parte picture{
            position: static;
            margin: 5%  auto;
        }
        #segunda_parte section > div{
           height: 1000px;
        }
        #mais_sobre a{
           width: 200px;
        }
        #link_plans{
            margin: 5% auto;
        }
        #somos_diferentes h2{
            width: 70%;
        }
    }